<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>

  <appSettings>
    <!-- 模拟WIFI -->
    <add key="IsDebug" value="true"/>
    <add key="LocalDB" value=""/>
  </appSettings>

  <log4net>
    <logger name="TVGenius.MobileApp">
      <level value="ALL"/>
      <appender-ref ref="ColoredConsoleAppender"/>
      <appender-ref ref="RollingFile"/>
    </logger>
    <appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <mapping>
        <level value="ERROR"/>
        <foreColor value="Red, HighIntensity"/>
      </mapping>
      <mapping>
        <level value="INFO"/>
        <foreColor value="Green"/>
      </mapping>
      <mapping>
        <level value="WARN"/>
        <foreColor value="Cyan"/>
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <!-- Pattern to output the caller's file name and line number -->
        <conversionPattern value="%d %-4r %-5p - %m%n"/>
      </layout>
    </appender>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="Logs/TVGenius.MobileApp.log"/>
      <appendToFile value="true"/>
      <maximumFileSize value="10000KB"/>
      <maxSizeRollBackups value="100"/>
      <rollingStyle value="Size"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d %-4r %-5p - %m%n"/>
      </layout>
      <filter type="log4net.Filter.LevelMatchFilter">
        <levelToMatch value="WARN"/>
        <levelToMatch value="ERROR"/>
      </filter>
    </appender>
  </log4net>
  
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  
</configuration>
